{
	"openapi": "3.0.1",
	"info": {
		"title": "Carewith API",
		"description": "last updated : 2024-08-13 04:36:18<br/>live: https://kauth.kakao.com/oauth/authorize?client_id=b4b9c60f1b384cecdc2553fabafb3ec3&redirect_uri=https://api.carewith.life/api/v1/auth/kakao/local&response_type=code<br/>local: https://kauth.kakao.com/oauth/authorize?client_id=b4b9c60f1b384cecdc2553fabafb3ec3&redirect_uri=https://api.carewith.life/api/v1/auth/kakao/local&response_type=code",
		"version": "1.0.0-SNAPSHOT"
	},
	"servers": [
		{
			"url": "https://api.carewith.life",
			"description": "production server"
		},
		{
			"url": "http://localhost:8080",
			"description": "local server"
		}
	],
	"tags": [],
	"paths": {
		"/api/v1/cartridge": {
			"post": {
				"tags": [
					"cartridge"
				],
				"summary": "카드리지 (약) 등록 API",
				"operationId": "append-cartridge",
				"requestBody": {
					"content": {
						"application/json;charset=utf-8": {
							"schema": {
								"$ref": "#/components/schemas/api-v1-cartridge-1674032322"
							},
							"examples": {
								"append-cartridge": {
									"value": "{\"number\":1,\"memo\":\"memo\",\"dosage\":5.0,\"doesPerDay\":3,\"totalDoseDays\":7,\"drugRemains\":30,\"since\":\"2019-03-12\",\"repeatable\":true,\"reminderTerm\":48,\"dispenserId\":\"MGE2NGZ\",\"drugId\":3,\"reminderSoundId\":1}"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-cartridge916321208"
								},
								"examples": {
									"append-cartridge": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":1},\"timestamp\":\"2024-08-13 13:35:52\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/dispenser": {
			"get": {
				"tags": [
					"dispenser"
				],
				"summary": "디스펜서 목록 조회 API",
				"operationId": "read-dispensers",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "인증토큰",
						"required": true,
						"schema": {
							"type": "string"
						},
						"example": "Bearer {bearer token}"
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-dispenser-387986916"
								},
								"examples": {
									"read-dispensers": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"count\":2,\"dispensers\":[{\"dispenserId\":\"MGE2NGZ\",\"status\":\"MAIN\",\"name\":\"기기 이름\",\"location\":\"설치 장소\",\"volume\":80},{\"dispenserId\":\"IF24KD\",\"status\":\"SUB\",\"name\":\"기기 이름2\",\"location\":\"설치 장소2\",\"volume\":70}]},\"timestamp\":\"2024-08-13 13:35:53\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/drug": {
			"get": {
				"tags": [
					"drug"
				],
				"summary": "약 이름 자동완성 API",
				"operationId": "search-drug-by-name",
				"parameters": [
					{
						"name": "name",
						"in": "query",
						"description": "약 이름",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-drug2071534301"
								},
								"examples": {
									"search-drug-by-name": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":1,\"name\":\"가스디알정50밀리그램(디메크로틴산마그네슘)\",\"identifier\":200808876,\"produce\":\"일동제약(주)\",\"description\":\"녹색의 원형 필름코팅정\",\"classification\":\"기타의 소화기관용약\",\"division\":\"전문의약품\",\"longLength\":7.6,\"shortLength\":7.6,\"thick\":3.6,\"imageUrl\":\"https://nedrug.mfds.go.kr/pbp/cmn/itemImageDownload/147426403087300104\"},\"timestamp\":\"2024-08-13 13:35:54\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/sound": {
			"get": {
				"tags": [
					"reminder-sound"
				],
				"summary": "알림음 목록 API",
				"description": "유저 회원가입시 기본 알림음이 자동으로 생성됩니다.",
				"operationId": "all-reminder-sounds",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "인증토큰",
						"required": true,
						"schema": {
							"type": "string"
						},
						"example": "Bearer {bearer token}"
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-sound-1671860611"
								},
								"examples": {
									"all-reminder-sounds": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"count\":2,\"sounds\":[{\"id\":1,\"name\":\"기본 알림음\",\"url\":\"url\"},{\"id\":2,\"name\":\"커스텀 알림음\",\"url\":\"url\"}]},\"timestamp\":\"2024-08-13 13:35:58\"}"
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"reminder-sound"
				],
				"summary": "알림은 등록 생성 API",
				"description": "저장된 url을 보내주세요 (쿼리파라미터 앞에 e.g. https://carewith-bucket.s3.ap-northeast-2.amazonaws.com/reminder-sound/MjExNzlname.jpg)",
				"operationId": "append-reminder-sound",
				"requestBody": {
					"content": {
						"application/json;charset=utf-8": {
							"schema": {
								"$ref": "#/components/schemas/api-v1-sound1019430459"
							},
							"examples": {
								"append-reminder-sound": {
									"value": "{\"url\":\"sound url\"}"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-sound-1608756656"
								},
								"examples": {
									"append-reminder-sound": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":1},\"timestamp\":\"2024-08-13 13:35:58\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/user": {
			"get": {
				"tags": [
					"user"
				],
				"summary": "유저 정보 조회 API",
				"operationId": "read-user",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "인증토큰",
						"required": true,
						"schema": {
							"type": "string"
						},
						"example": "Bearer {bearer token}"
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-user-1258169084"
								},
								"examples": {
									"read-user": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"name\":\"김태완\",\"profileImage\":\"profileImage\"},\"timestamp\":\"2024-08-13 13:35:59\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/cartridge/schedule": {
			"post": {
				"tags": [
					"cartridge"
				],
				"summary": "카드리지(약), 알림 동시 등록 API",
				"operationId": "append-cartridge-reminder-schedule",
				"requestBody": {
					"content": {
						"application/json;charset=utf-8": {
							"schema": {
								"$ref": "#/components/schemas/api-v1-cartridge-schedule-963710528"
							},
							"examples": {
								"append-cartridge-reminder-schedule": {
									"value": "{\"number\":1,\"memo\":\"memo\",\"dosage\":5.0,\"doesPerDay\":3,\"totalDoseDays\":7,\"drugRemains\":30,\"since\":\"2019-03-12\",\"repeatable\":true,\"dispenserId\":\"MGE2NGZ\",\"drugId\":3,\"reminderSoundId\":1,\"schedules\":[{\"dayOfWeek\":\"MON\",\"time\":\"12:00:00\"},{\"dayOfWeek\":\"MON\",\"time\":\"18:00:00\"},{\"dayOfWeek\":\"WED\",\"time\":\"12:00:00\"},{\"dayOfWeek\":\"WED\",\"time\":\"18:00:00\"}]}"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-cartridge916321208"
								},
								"examples": {
									"append-cartridge-reminder-schedule": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":1},\"timestamp\":\"2024-08-13 13:35:51\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/cartridge/{cartridgeId}": {
			"delete": {
				"tags": [
					"cartridge"
				],
				"summary": "카트리지 삭제 API",
				"operationId": "remove-cartridges",
				"parameters": [
					{
						"name": "cartridgeId",
						"in": "path",
						"description": "삭제하려는 카트리지 Id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-cartridge-cartridgeId-1776866862"
								},
								"examples": {
									"remove-cartridges": {
										"value": "{\"status\":\"SUCCESS\",\"data\":null,\"timestamp\":\"2024-08-13 13:35:51\"}"
									}
								}
							}
						}
					}
				}
			},
			"patch": {
				"tags": [
					"cartridge"
				],
				"summary": "카드리지 (약) 수정 API",
				"operationId": "modify-cartridge",
				"parameters": [
					{
						"name": "cartridgeId",
						"in": "path",
						"description": "",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json;charset=utf-8": {
							"schema": {
								"$ref": "#/components/schemas/api-v1-cartridge-cartridgeId1761980530"
							},
							"examples": {
								"modify-cartridge": {
									"value": "{\"number\":1,\"memo\":\"memo\",\"dosage\":5.0,\"doesPerDay\":3,\"since\":\"2019-03-12\",\"totalDoseDays\":7,\"drugRemains\":30,\"repeatable\":true,\"reminderTerm\":48}"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-cartridge916321208"
								},
								"examples": {
									"modify-cartridge": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":1},\"timestamp\":\"2024-08-13 13:35:51\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/dispenser/id": {
			"get": {
				"tags": [
					"dispenser"
				],
				"summary": "디스펜서 아이디 생성 API",
				"description": "이 API로 id 생성 후 디스펜서 등록 API를 실행해 주세요",
				"operationId": "generate-dispenser-id",
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-dispenser-id-1846498768"
								},
								"examples": {
									"generate-dispenser-id": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":\"MGE2NGZ\"},\"timestamp\":\"2024-08-13 13:35:53\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/dispenser/main": {
			"get": {
				"tags": [
					"dispenser"
				],
				"summary": "메인 디스펜서 조회 API",
				"operationId": "read-main-dispenser",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "인증토큰",
						"required": true,
						"schema": {
							"type": "string"
						},
						"example": "Bearer {bearer token}"
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-dispenser-dispenserId-253682153"
								},
								"examples": {
									"read-main-dispenser": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"dispenserId\":\"MGE2NGZ\",\"status\":\"MAIN\",\"name\":\"기기 이름\",\"location\":\"설치 장소\",\"volume\":80},\"timestamp\":\"2024-08-13 13:35:53\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/dispenser/{dispenserId}": {
			"get": {
				"tags": [
					"dispenser"
				],
				"summary": "디스펜서 조회 API",
				"operationId": "read-dispenser",
				"parameters": [
					{
						"name": "dispenserId",
						"in": "path",
						"description": "조회 디스펜서 이름",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-dispenser-dispenserId-253682153"
								},
								"examples": {
									"read-dispenser": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"dispenserId\":\"MGE2NGZ\",\"status\":\"MAIN\",\"name\":\"기기 이름\",\"location\":\"설치 장소\",\"volume\":80},\"timestamp\":\"2024-08-13 13:35:53\"}"
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"dispenser"
				],
				"summary": "디스펜서 등록 API",
				"description": "입력한 dispenserId로 id가 설정됩니다. 이전에 main 디스펜서가 없으면 main으로, 없으면 sub로 설정, 모델명은 프론트에서 mvp#carewith 로 고정해주세요.",
				"operationId": "register-dispenser",
				"parameters": [
					{
						"name": "dispenserId",
						"in": "path",
						"description": "등록하려는 디스펜서 ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "인증토큰",
						"required": true,
						"schema": {
							"type": "string"
						},
						"example": "Bearer {bearer token}"
					}
				],
				"requestBody": {
					"content": {
						"application/json;charset=utf-8": {
							"schema": {
								"$ref": "#/components/schemas/api-v1-dispenser-dispenserId-1111526902"
							},
							"examples": {
								"register-dispenser": {
									"value": "{\"name\":\"기기 이름\",\"location\":\"설치 장소\",\"volume\":80}"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-dispenser-id-1846498768"
								},
								"examples": {
									"register-dispenser": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":\"MGE2NGZ\"},\"timestamp\":\"2024-08-13 13:35:53\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/drug/all": {
			"get": {
				"tags": [
					"drug"
				],
				"summary": "약 목록 API",
				"operationId": "all-drug",
				"parameters": [
					{
						"name": "size",
						"in": "query",
						"description": "검색 크기",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "검색 페이지",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-drug-all-keyword646786864"
								},
								"examples": {
									"all-drug": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"count\":2,\"drugs\":[{\"id\":1,\"name\":\"가스디알정50밀리그램(디메크로틴산마그네슘)\",\"identifier\":200808876,\"produce\":\"일동제약(주)\",\"description\":\"어두운 황색의 원형 필름코팅정\",\"classification\":\"항악성종양제\",\"division\":\"전문의약품\",\"longLength\":7.6,\"shortLength\":7.6,\"thick\":3.6,\"imageUrl\":\"https://nedrug.mfds.go.kr/pbp/cmn/itemImageDownload/147426403087300104\"},{\"id\":2,\"name\":\"페라트라정2.5밀리그램(레트로졸)\",\"identifier\":200808877,\"produce\":\"(주)유한양행\",\"description\":\"녹색의 원형 필름코팅정\",\"classification\":\"기타의 소화기관용약\",\"division\":\"전문의약품\",\"longLength\":6.1,\"shortLength\":6.1,\"thick\":3.5,\"imageUrl\":\"https://nedrug.mfds.go.kr/pbp/cmn/itemImageDownload/147426403087300107\"}]},\"timestamp\":\"2024-08-13 13:35:54\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/drug/autocomplete": {
			"get": {
				"tags": [
					"drug"
				],
				"summary": "약 이름 자동완성 API",
				"operationId": "auto-complete-drug-name",
				"parameters": [
					{
						"name": "keyword",
						"in": "query",
						"description": "약 이름 키워드",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-drug-autocomplete-1131437847"
								},
								"examples": {
									"auto-complete-drug-name": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"count\":3,\"names\":[\"프레가스타캡슐150밀리그램(프레가발린)\",\"프레가스타캡슐300밀리그램(프레가발린)\",\"프레가스타캡슐75밀리그램(프레가발린)\"]},\"timestamp\":\"2024-08-13 13:35:54\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/patient/{dispenserId}": {
			"post": {
				"tags": [
					"patient"
				],
				"summary": "환자 등록 API",
				"operationId": "append-patient",
				"parameters": [
					{
						"name": "dispenserId",
						"in": "path",
						"description": "",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json;charset=utf-8": {
							"schema": {
								"$ref": "#/components/schemas/api-v1-patient-patientId-82408887"
							},
							"examples": {
								"append-patient": {
									"value": "{\"name\":\"김태완\",\"birth\":\"2001-02-22\",\"diseaseName\":\"알츠하이머\",\"severity\":2}"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-patient-dispenserId-637801896"
								},
								"examples": {
									"append-patient": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":1},\"timestamp\":\"2024-08-13 13:35:56\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/patient/{patientId}": {
			"get": {
				"tags": [
					"patient"
				],
				"summary": "환자 조회 API",
				"operationId": "read-patient",
				"parameters": [
					{
						"name": "patientId",
						"in": "path",
						"description": "조회하려는 환자 ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-patient-dispenser-dispenserId265613458"
								},
								"examples": {
									"read-patient": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":1,\"name\":\"김태완\",\"birth\":\"2001-02-22\",\"diseaseName\":\"알츠하이머\",\"severity\":2},\"timestamp\":\"2024-08-13 13:35:56\"}"
									}
								}
							}
						}
					}
				}
			},
			"patch": {
				"tags": [
					"patient"
				],
				"summary": "환자 수정 API",
				"operationId": "modify-patient",
				"parameters": [
					{
						"name": "patientId",
						"in": "path",
						"description": "",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json;charset=utf-8": {
							"schema": {
								"$ref": "#/components/schemas/api-v1-patient-patientId-82408887"
							},
							"examples": {
								"modify-patient": {
									"value": "{\"name\":\"김태완\",\"birth\":\"2001-02-22\",\"diseaseName\":\"알츠하이머\",\"severity\":2}"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-patient-patientId370834879"
								},
								"examples": {
									"modify-patient": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":1},\"timestamp\":\"2024-08-13 13:35:56\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/sound/presignedurl": {
			"post": {
				"tags": [
					"reminder-sound"
				],
				"summary": "pre signed url 생성 API",
				"operationId": "provide-reminder-sound-pre-signed-url",
				"parameters": [
					{
						"name": "filename",
						"in": "query",
						"description": "파일 이름",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-sound-presignedurl739172668"
								},
								"examples": {
									"provide-reminder-sound-pre-signed-url": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"preSignedUrl\":\"preSignedUrl.com\"},\"timestamp\":\"2024-08-13 13:35:58\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/user/name": {
			"get": {
				"tags": [
					"user"
				],
				"summary": "유저 이름 조회 API",
				"operationId": "read-user-name",
				"parameters": [
					{
						"name": "Authorization",
						"in": "header",
						"description": "인증토큰",
						"required": true,
						"schema": {
							"type": "string"
						},
						"example": "Bearer {bearer token}"
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-user-name-1490293479"
								},
								"examples": {
									"read-user-name": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"name\":\"김태완\"},\"timestamp\":\"2024-08-13 13:35:59\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/auth/kakao/refresh": {
			"post": {
				"tags": [
					"auth"
				],
				"summary": "refresh token",
				"operationId": "refresh-token-API",
				"requestBody": {
					"content": {
						"application/json;charset=utf-8": {
							"schema": {
								"$ref": "#/components/schemas/api-v1-patient-dispenser-dispenserId486549215"
							},
							"examples": {
								"refresh-token-API": {
									"value": "{\"refreshToken\":\"refresh token\"}"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-auth-kakao-refresh-1204990453"
								},
								"examples": {
									"refresh-token-API": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"accessToken\":\"accessToken\",\"refreshToken\":\"refreshToken?\"},\"timestamp\":\"2024-08-13 13:35:49\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/cartridge/using/{dispenserId}": {
			"get": {
				"tags": [
					"cartridge"
				],
				"summary": "사용중인 카트리지 조회 API",
				"operationId": "using-cartridges",
				"parameters": [
					{
						"name": "dispenserId",
						"in": "path",
						"description": "조회하려는 디스펜서 Id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-cartridge-using-dispenserId1293555252"
								},
								"examples": {
									"using-cartridges": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"usingNumbers\":[1,3,4]},\"timestamp\":\"2024-08-13 13:35:52\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/cartridge/{cartridgeId}/reminder": {
			"post": {
				"tags": [
					"reminder"
				],
				"summary": "알람 등록 API",
				"operationId": "append-reminders",
				"parameters": [
					{
						"name": "cartridgeId",
						"in": "path",
						"description": "알람을 등록하려는 카트리지 ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json;charset=utf-8": {
							"schema": {
								"$ref": "#/components/schemas/api-v1-cartridge-cartridgeId-reminder-1638760233"
							},
							"examples": {
								"append-reminders": {
									"value": "{\"schedules\":[{\"dayOfWeek\":\"MON\",\"time\":\"12:00:00\"},{\"dayOfWeek\":\"MON\",\"time\":\"18:00:00\"},{\"dayOfWeek\":\"WED\",\"time\":\"12:00:00\"},{\"dayOfWeek\":\"WED\",\"time\":\"18:00:00\"}]}"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-cartridge-cartridgeId-reminder-1719529968"
								},
								"examples": {
									"append-reminders": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":1},\"timestamp\":\"2024-08-13 13:35:57\"}"
									}
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"reminder"
				],
				"summary": "모든 알람 삭제 API",
				"operationId": "remove-reminders",
				"parameters": [
					{
						"name": "cartridgeId",
						"in": "path",
						"description": "알람을 제거하려는 카트리지 ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-cartridge-cartridgeId-reminder-800630051"
								},
								"examples": {
									"remove-reminders": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":1},\"timestamp\":\"2024-08-13 13:35:57\"}"
									}
								}
							}
						}
					}
				}
			},
			"patch": {
				"tags": [
					"reminder"
				],
				"summary": "알람 재설정 API",
				"operationId": "replace-reminders",
				"parameters": [
					{
						"name": "cartridgeId",
						"in": "path",
						"description": "알람을 재설정하려는 카트리지 ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json;charset=utf-8": {
							"schema": {
								"$ref": "#/components/schemas/api-v1-cartridge-cartridgeId-reminder-1638760233"
							},
							"examples": {
								"replace-reminders": {
									"value": "{\"schedules\":[{\"dayOfWeek\":\"TUE\",\"time\":\"12:00:00\"},{\"dayOfWeek\":\"FRI\",\"time\":\"18:00:00\"}]}"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-cartridge-cartridgeId-reminder-1719529968"
								},
								"examples": {
									"replace-reminders": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":1},\"timestamp\":\"2024-08-13 13:35:57\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/cartridge/{cartridgeId}/schedule": {
			"patch": {
				"tags": [
					"cartridge"
				],
				"summary": "카드리지(약), 알림 동시 수정 API",
				"operationId": "modify-cartridge-reminder-schedule",
				"parameters": [
					{
						"name": "cartridgeId",
						"in": "path",
						"description": "",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json;charset=utf-8": {
							"schema": {
								"$ref": "#/components/schemas/api-v1-cartridge-cartridgeId-schedule-1822664972"
							},
							"examples": {
								"modify-cartridge-reminder-schedule": {
									"value": "{\"number\":1,\"memo\":\"memo\",\"dosage\":5.0,\"doesPerDay\":3,\"totalDoseDays\":7,\"drugRemains\":30,\"since\":\"2019-03-12\",\"repeatable\":true,\"schedules\":[{\"dayOfWeek\":\"MON\",\"time\":\"12:00:00\"},{\"dayOfWeek\":\"MON\",\"time\":\"18:00:00\"},{\"dayOfWeek\":\"WED\",\"time\":\"12:00:00\"},{\"dayOfWeek\":\"WED\",\"time\":\"18:00:00\"}]}"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-cartridge-cartridgeId-schedule-1376283297"
								},
								"examples": {
									"modify-cartridge-reminder-schedule": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":1},\"timestamp\":\"2024-08-13 13:35:51\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/dispenser/main/{dispenserId}": {
			"patch": {
				"tags": [
					"dispenser"
				],
				"summary": "메인 디스펜서 교체 API",
				"operationId": "change-main-dispenser",
				"parameters": [
					{
						"name": "dispenserId",
						"in": "path",
						"description": "등록하려는 디스펜서 ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "Authorization",
						"in": "header",
						"description": "인증토큰",
						"required": true,
						"schema": {
							"type": "string"
						},
						"example": "Bearer {bearer token}"
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-dispenser-main-dispenserId-687781852"
								},
								"examples": {
									"change-main-dispenser": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":\"IF24KD\"},\"timestamp\":\"2024-08-13 13:35:53\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/drug/all/keyword": {
			"get": {
				"tags": [
					"drug"
				],
				"summary": "키워드 기반 약 목록 API",
				"operationId": "all-drug-by-keyword",
				"parameters": [
					{
						"name": "keyword",
						"in": "query",
						"description": "검색 키워드",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-drug-all-keyword646786864"
								},
								"examples": {
									"all-drug-by-keyword": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"count\":2,\"drugs\":[{\"id\":1,\"name\":\"가스디알정50밀리그램(디메크로틴산마그네슘)\",\"identifier\":200808876,\"produce\":\"일동제약(주)\",\"description\":\"어두운 황색의 원형 필름코팅정\",\"classification\":\"항악성종양제\",\"division\":\"전문의약품\",\"longLength\":7.6,\"shortLength\":7.6,\"thick\":3.6,\"imageUrl\":\"https://nedrug.mfds.go.kr/pbp/cmn/itemImageDownload/147426403087300104\"},{\"id\":4,\"name\":\"가스프렌정(모사프리드시트르산염이수화물)\",\"identifier\":200809076,\"produce\":\"경동제약(주)\",\"description\":\"분할선을 가진 흰색의 장방형 필름코팅정제\",\"classification\":\"기타의 소화기관용약\",\"division\":\"전문의약품\",\"longLength\":9.1,\"shortLength\":4.5,\"thick\":3.4,\"imageUrl\":\"https://nedrug.mfds.go.kr/pbp/cmn/itemImageDownload/147426403087300143\"}]},\"timestamp\":\"2024-08-13 13:35:55\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/drug/check/{dispenserId}": {
			"post": {
				"tags": [
					"drug-check"
				],
				"summary": "약 혼용 확인 API (ai)",
				"operationId": "drug-combinable-check",
				"parameters": [
					{
						"name": "dispenserId",
						"in": "path",
						"description": "추가하려는 디스펜서 ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json;charset=utf-8": {
							"schema": {
								"$ref": "#/components/schemas/api-v1-drug-check-dispenserId-633689209"
							},
							"examples": {
								"drug-combinable-check": {
									"value": "{\"drugNames\":[\"코큐렉스연질캡슐\",\"제일아노민정\",\"덴티콤캡슐\"]}"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-drug-check-dispenserId-1700343202"
								},
								"examples": {
									"drug-combinable-check": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"isCombinable\":true,\"caution\":\"주의사항\"},\"timestamp\":\"2024-08-13 13:35:55\"}"
									}
								}
							}
						}
					}
				}
			}
		},
		"/api/v1/patient/dispenser/{dispenserId}": {
			"get": {
				"tags": [
					"patient"
				],
				"summary": "디스펜서 ID 기반 환자 조회 API",
				"operationId": "read-patient-by-dispenser-id",
				"parameters": [
					{
						"name": "dispenserId",
						"in": "path",
						"description": "조회하려는 디스펜서 ID",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json;charset=utf-8": {
							"schema": {
								"$ref": "#/components/schemas/api-v1-patient-dispenser-dispenserId486549215"
							},
							"examples": {
								"read-patient-by-dispenser-id": {
									"value": "{\"name\":\"김태완\",\"birth\":\"2001-02-22\",\"diseaseName\":\"알츠하이머\",\"severity\":2}"
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "200",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/api-v1-patient-dispenser-dispenserId265613458"
								},
								"examples": {
									"read-patient-by-dispenser-id": {
										"value": "{\"status\":\"SUCCESS\",\"data\":{\"id\":1,\"name\":\"김태완\",\"birth\":\"2001-02-22\",\"diseaseName\":\"알츠하이머\",\"severity\":2},\"timestamp\":\"2024-08-13 13:35:56\"}"
									}
								}
							}
						}
					}
				}
			}
		}
	},
	"components": {
		"schemas": {
			"api-v1-dispenser-id-1846498768": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string",
								"description": "디스펜서 ID"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-dispenser-387986916": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"count": {
								"type": "number",
								"description": "목록 갯수"
							},
							"dispensers": {
								"type": "array",
								"items": {
									"type": "object",
									"properties": {
										"volume": {
											"type": "number",
											"description": "디스펜서 볼륨"
										},
										"dispenserId": {
											"type": "string",
											"description": "디스펜서 ID"
										},
										"name": {
											"type": "string",
											"description": "디스펜서 이름"
										},
										"location": {
											"type": "string",
											"description": "디스펜서 설치 장소"
										},
										"status": {
											"type": "string",
											"description": "디스펜서 상태 (MAIN, SUB)"
										}
									}
								}
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-cartridge-cartridgeId-1776866862": {
				"type": "object",
				"properties": {
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-cartridge-cartridgeId-reminder-1638760233": {
				"type": "object",
				"properties": {
					"schedules": {
						"type": "array",
						"items": {
							"type": "object",
							"properties": {
								"dayOfWeek": {
									"type": "string",
									"description": "요일 (MON, TUE, WED, THU, FRI, SAT, SUN)"
								},
								"time": {
									"type": "string",
									"description": "시간 (HH:mm:ss)"
								}
							}
						}
					}
				}
			},
			"api-v1-user-1258169084": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"name": {
								"type": "string",
								"description": "이름"
							},
							"profileImage": {
								"type": "string",
								"description": "프로필 이미지"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-cartridge-1674032322": {
				"type": "object",
				"properties": {
					"totalDoseDays": {
						"type": "number",
						"description": "총 투약 일수"
					},
					"dosage": {
						"type": "number",
						"description": "투여량"
					},
					"number": {
						"type": "number",
						"description": "카트리지 번호"
					},
					"reminderSoundId": {
						"type": "number",
						"description": "알람 사운드 ID"
					},
					"dispenserId": {
						"type": "string",
						"description": "디스펜서 ID"
					},
					"repeatable": {
						"type": "boolean",
						"description": "반복알림 여부"
					},
					"drugRemains": {
						"type": "number",
						"description": "남은 알약 갯수"
					},
					"memo": {
						"type": "string",
						"description": "메모"
					},
					"drugId": {
						"type": "number",
						"description": "약 ID"
					},
					"reminderTerm": {
						"type": "number",
						"description": "n일 간격 일시 시간 텀 (n 일 간격 외의 경우엔 -1, 시간(h))"
					},
					"since": {
						"type": "string",
						"description": "투약 시작 일"
					},
					"doesPerDay": {
						"type": "number",
						"description": "1일 투여 횟수"
					}
				}
			},
			"api-v1-patient-dispenser-dispenserId265613458": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"severity": {
								"type": "number",
								"description": "중증도(1~5 or 상/중/하 일시 1,2,3)"
							},
							"diseaseName": {
								"type": "string",
								"description": "병명"
							},
							"name": {
								"type": "string",
								"description": "환자 이름"
							},
							"birth": {
								"type": "string",
								"description": "환자 생일 (yyyy-MM-dd)"
							},
							"id": {
								"type": "number",
								"description": "환자 ID"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-sound-1608756656": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"id": {
								"type": "number",
								"description": "생성된 id"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-cartridge-schedule-963710528": {
				"type": "object",
				"properties": {
					"totalDoseDays": {
						"type": "number",
						"description": "총 투약 일수"
					},
					"dosage": {
						"type": "number",
						"description": "투여량"
					},
					"number": {
						"type": "number",
						"description": "카트리지 번호"
					},
					"reminderSoundId": {
						"type": "number",
						"description": "알람 사운드 ID"
					},
					"dispenserId": {
						"type": "string",
						"description": "디스펜서 ID"
					},
					"repeatable": {
						"type": "boolean",
						"description": "반복알림 여부"
					},
					"schedules": {
						"type": "array",
						"items": {
							"type": "object",
							"properties": {
								"dayOfWeek": {
									"type": "string",
									"description": "요일 (MON, TUE, WED, THU, FRI, SAT, SUN)"
								},
								"time": {
									"type": "string",
									"description": "시간 (HH:mm:ss)"
								}
							}
						}
					},
					"drugRemains": {
						"type": "number",
						"description": "남은 알약 갯수"
					},
					"memo": {
						"type": "string",
						"description": "메모"
					},
					"drugId": {
						"type": "number",
						"description": "약 ID"
					},
					"since": {
						"type": "string",
						"description": "투약 시작 일"
					},
					"doesPerDay": {
						"type": "number",
						"description": "1일 투여 횟수"
					}
				}
			},
			"api-v1-cartridge-cartridgeId-reminder-1719529968": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"id": {
								"type": "number",
								"description": "등록된 카트리지 ID"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-cartridge-cartridgeId-reminder-800630051": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"id": {
								"type": "number",
								"description": "알람이 삭제된 카트리지 ID"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-patient-patientId-82408887": {
				"type": "object",
				"properties": {
					"severity": {
						"type": "number",
						"description": "중증도(1~5 or 상/중/하 일시 1,2,3)"
					},
					"diseaseName": {
						"type": "string",
						"description": "병명"
					},
					"name": {
						"type": "string",
						"description": "환자 이름"
					},
					"birth": {
						"type": "string",
						"description": "환자 생일 (yyyy-MM-dd)"
					}
				}
			},
			"api-v1-patient-dispenser-dispenserId486549215": {
				"type": "object"
			},
			"api-v1-patient-dispenserId-637801896": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"id": {
								"type": "number",
								"description": "생성된 환자 ID"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-sound-1671860611": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"sounds": {
								"type": "array",
								"items": {
									"type": "object",
									"properties": {
										"name": {
											"type": "string",
											"description": "알림음 이름"
										},
										"id": {
											"type": "number",
											"description": "알림음 id"
										},
										"url": {
											"type": "string",
											"description": "알림음 url"
										}
									}
								}
							},
							"count": {
								"type": "number",
								"description": "알림음 개수"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-drug2071534301": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"division": {
								"type": "string",
								"description": "분류 (일반의약품/전문의약품)"
							},
							"identifier": {
								"type": "number",
								"description": "약 고유식별번호"
							},
							"imageUrl": {
								"type": "string",
								"description": "약 이미지"
							},
							"shortLength": {
								"type": "number",
								"description": "길이(단측)"
							},
							"name": {
								"type": "string",
								"description": "약 이름"
							},
							"description": {
								"type": "string",
								"description": "약 외관에 대한 설명"
							},
							"id": {
								"type": "number",
								"description": "약 id"
							},
							"longLength": {
								"type": "number",
								"description": "길이(장측)"
							},
							"classification": {
								"type": "string",
								"description": "약 구분"
							},
							"produce": {
								"type": "string",
								"description": "제조사"
							},
							"thick": {
								"type": "number",
								"description": "두꼐"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-patient-patientId370834879": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"id": {
								"type": "number",
								"description": "수정된 환자 ID"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-cartridge916321208": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"id": {
								"type": "number",
								"description": "생성된 카트리지 ID"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-dispenser-main-dispenserId-687781852": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"id": {
								"type": "string",
								"description": "교체된 메인 디스펜서 ID"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-auth-kakao-refresh-1204990453": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"accessToken": {
								"type": "string",
								"description": "인증토큰"
							},
							"refreshToken": {
								"type": "string",
								"description": "리프레시 토큰"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-drug-autocomplete-1131437847": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"names": {
								"type": "array",
								"description": "검색 결과",
								"items": {
									"oneOf": [
										{
											"type": "object"
										},
										{
											"type": "boolean"
										},
										{
											"type": "string"
										},
										{
											"type": "number"
										}
									]
								}
							},
							"count": {
								"type": "number",
								"description": "총 검색 결과"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-cartridge-cartridgeId-schedule-1822664972": {
				"type": "object",
				"properties": {
					"totalDoseDays": {
						"type": "number",
						"description": "총 투약 일수"
					},
					"dosage": {
						"type": "number",
						"description": "투여량"
					},
					"number": {
						"type": "number",
						"description": "카트리지 번호"
					},
					"repeatable": {
						"type": "boolean",
						"description": "반복알림 여부"
					},
					"schedules": {
						"type": "array",
						"items": {
							"type": "object",
							"properties": {
								"dayOfWeek": {
									"type": "string",
									"description": "요일 (MON, TUE, WED, THU, FRI, SAT, SUN)"
								},
								"time": {
									"type": "string",
									"description": "시간 (HH:mm:ss)"
								}
							}
						}
					},
					"drugRemains": {
						"type": "number",
						"description": "남은 알약 갯수"
					},
					"memo": {
						"type": "string",
						"description": "메모"
					},
					"since": {
						"type": "string",
						"description": "투약 시작 일"
					},
					"doesPerDay": {
						"type": "number",
						"description": "1일 투여 횟수"
					}
				}
			},
			"api-v1-cartridge-cartridgeId-schedule-1376283297": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"id": {
								"type": "number",
								"description": "수정된 카트리지 ID"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-cartridge-using-dispenserId1293555252": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"usingNumbers": {
								"type": "array",
								"description": "사용중인 번호",
								"items": {
									"oneOf": [
										{
											"type": "object"
										},
										{
											"type": "boolean"
										},
										{
											"type": "string"
										},
										{
											"type": "number"
										}
									]
								}
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-user-name-1490293479": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"name": {
								"type": "string",
								"description": "이름"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-sound-presignedurl739172668": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"preSignedUrl": {
								"type": "string",
								"description": "pre signed url"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-dispenser-dispenserId-1111526902": {
				"type": "object",
				"properties": {
					"volume": {
						"type": "number",
						"description": "볼륨 (% (1~100))"
					},
					"name": {
						"type": "string",
						"description": "기기 이름"
					},
					"location": {
						"type": "string",
						"description": "설치 장소"
					}
				}
			},
			"api-v1-dispenser-dispenserId-253682153": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"volume": {
								"type": "number",
								"description": "디스펜서 볼륨"
							},
							"dispenserId": {
								"type": "string",
								"description": "디스펜서 ID"
							},
							"name": {
								"type": "string",
								"description": "디스펜서 이름"
							},
							"location": {
								"type": "string",
								"description": "디스펜서 설치 장소"
							},
							"status": {
								"type": "string",
								"description": "디스펜서 상태 (MAIN, SUB)"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-cartridge-cartridgeId1761980530": {
				"type": "object",
				"properties": {
					"totalDoseDays": {
						"type": "number",
						"description": "총 투약 일수"
					},
					"dosage": {
						"type": "number",
						"description": "투여량"
					},
					"number": {
						"type": "number",
						"description": "카트리지 번호"
					},
					"repeatable": {
						"type": "boolean",
						"description": "반복알림 여부"
					},
					"drugRemains": {
						"type": "number",
						"description": "남은 알약 갯수"
					},
					"memo": {
						"type": "string",
						"description": "메모"
					},
					"reminderTerm": {
						"type": "number",
						"description": "n일 간격 일시 시간 텀 (n 일 간격 외의 경우엔 -1, 시간(h))"
					},
					"since": {
						"type": "string",
						"description": "투약 시작 일"
					},
					"doesPerDay": {
						"type": "number",
						"description": "1일 투여 횟수"
					}
				}
			},
			"api-v1-sound1019430459": {
				"type": "object",
				"properties": {
					"url": {
						"type": "string",
						"description": "presignedUrl 을 통해 생성된 url"
					}
				}
			},
			"api-v1-drug-check-dispenserId-1700343202": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"isCombinable": {
								"type": "boolean",
								"description": "혼용 가능 여부"
							},
							"caution": {
								"type": "string",
								"description": "주의사항"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-drug-all-keyword646786864": {
				"type": "object",
				"properties": {
					"data": {
						"type": "object",
						"properties": {
							"drugs": {
								"type": "array",
								"items": {
									"type": "object",
									"properties": {
										"division": {
											"type": "string",
											"description": "분류 (일반의약품/전문의약품)"
										},
										"identifier": {
											"type": "number",
											"description": "약 고유식별번호"
										},
										"imageUrl": {
											"type": "string",
											"description": "약 이미지"
										},
										"shortLength": {
											"type": "number",
											"description": "길이(단측)"
										},
										"name": {
											"type": "string",
											"description": "약 이름"
										},
										"description": {
											"type": "string",
											"description": "약 외관에 대한 설명"
										},
										"id": {
											"type": "number",
											"description": "약 id"
										},
										"longLength": {
											"type": "number",
											"description": "길이(장측)"
										},
										"classification": {
											"type": "string",
											"description": "약 구분"
										},
										"produce": {
											"type": "string",
											"description": "제조사"
										},
										"thick": {
											"type": "number",
											"description": "두꼐"
										}
									}
								}
							},
							"count": {
								"type": "number",
								"description": "검색 약 수"
							}
						}
					},
					"timestamp": {
						"type": "string",
						"description": "응답 시간"
					},
					"status": {
						"type": "string",
						"description": "응답 상태"
					}
				}
			},
			"api-v1-drug-check-dispenserId-633689209": {
				"type": "object",
				"properties": {
					"drugNames": {
						"type": "array",
						"description": "추가하려는 약 이름",
						"items": {
							"oneOf": [
								{
									"type": "object"
								},
								{
									"type": "boolean"
								},
								{
									"type": "string"
								},
								{
									"type": "number"
								}
							]
						}
					}
				}
			}
		},
		"securitySchemes": {
			"bearerAuth": {
				"type": "http",
				"scheme": "bearer",
				"bearerFormat": "JWT"
			}
		}
	},
	"security": [
		{
			"bearerAuth": []
		}
	]
}